@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

.App {
  margin-top: 20px;
  font-family: "Alice", serif;
}

.container {
  text-align: left;
  margin: 0 auto;
  width: 800px;
}

.App-header {
  height: 100px;
  padding: 20px;
  color: black;
  font-weight: bold;
  font-family: "Tilt Prism", cursive;
  font-size: 70px;
  margin-bottom: 50px;
}

.Bookshop {
  margin-top: 100px;
  display: block;
  margin: 0 auto;
  width: 300px;
}

h2,
h3 {
  text-align: center;
}

.App h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.App h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
}

.App-footer {
  margin-top: 500px;
  display: block;
  margin: 0 auto;
  width: 300px;
  font-family: monospace;
  color: grey;
  font-size: 12px;
}

.App-footer a {
  color: coral;
  text-decoration: none;
}
