@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");

.App {
  margin-top: 20px;
}

.container {
  text-align: center;
}

.App-header {
  height: 100px;
  padding: 20px;
  color: black;
  font-weight: bold;
  font-family: "Tilt Prism", cursive;
  font-size: 100px;
  margin-bottom: 80px;
}

.Bookshop {
  margin-top: 600px;
  display: block;
  margin: 0 auto;
  width: 300px;
}

.content {
  display: flex;
  flex-direction: column;
}

.App-footer {
  margin-top: 500px;
  display: block;
  margin: 0 auto;
  width: 300px;
}
