@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");

.App {
  text-align: center;
  margin-top: 20px;
}

.App-header {
  height: 100px;
  padding: 20px;
  color: black;
  font-weight: bold;
  font-family: "Tilt Prism", cursive;
  font-size: 100px;
}

.Bookshop {
  margin-top: 400px;
  display: block;
  margin: 0 auto;
  width: 300px;
}
